<!DOCTYPE html>
<html>
<head>
	<title>Register</title>

	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="script" type="text/js" href="/static/signup.js"
</head>
<body>
	<form id="signupForm">
		<fieldset>
			<legend>Sign Up</legend>
				Username:<br><input type="text" name="username" id="username"><br>
				Email Address:<br><input type="text" name="Email" id="email"><br>
				Enter Password:<br><input type="text" name="Password" id="password"><br>
				Enter Password Again:<br><input type="text" name="Password" id="confirmpassword"><br><br>
				<input type="submit", value="SEND POST">
		</fieldset>
		
	</form>
</body>
</html>

<script>
document.getElementById('signupForm').addEventListener('submit', signupForm);

 function postData(event){
            event.preventDefault();

            let username = document.getElementById('username').value;
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirmpassword = document.getElementById('confirmpassword').value;

            fetch('https://stackoverflowlitev3.herokuapp.com/api/v2/auth/registration', {
                method: 'POST',
                headers : new Headers(),
                body:JSON.stringify({username:username, email:email, password:password, confirmpassword:confirmpassword})
            }).then((res) => res.json())
            .then((data) =>  console.log(data))
            .catch((err)=>console.log(err))
		}
		
</script>