<style type="text/css">
		input[type=text]{
			width: 100%;
			padding: 12px 20px;
			margin-top: 1px;
			display: inline-block;
			border: 1px solid #000638;
			border-radius: 4px;
			box-sizing: border-box;
		}

		form{
			margin: 0 auto;
			width: 500px;
		}

		input[type=submit]{
			width: 50%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #000638;
			border-radius: 4px;
			box-sizing: border-box;
			background-color: #000638;
			color: #ffffff;
		}
	</style>

{% extends "base.html" %}

{% block content %}
    <div class="maindiv">
		<form id="form">
			<fieldset>
				<legend>Ask A Question</legend>
					Add Picture: <input type="file" name="picture" accept="image/*"><br>
					<h4>Title</h4>
					<input type="text" name="title">
					<h4>Description</h4>
					<textarea rows="6"></textarea>
					<h4>Tags</h4>
					<input type="text" name="tags" placeholder="add atleast one tag. Ps tags should include your programming language">
					<input type="submit" value="Post Your Question">
			</fieldset>
		</form>
	</div>
{% endblock %}
