{% extends "base.html" %}

{% block content %}
	<div id="form" style="margin-top: 100px; text-align: center;">
    <h1>Hi, This is StackOverflow-Lite.</h1><br>
    <h2>We assure you of solving any blocker that is slowing you down.</h2><br>
    <h3>For maximum utilization of the available resources, create an account or log in to continue.</h3><br><br>
    <input type="button" onclick="location.href='{{ url_for('login') }}';" value="Sign Up" class="button" /> or
    <input type="button" onclick="location.href='{{ url_for('login') }}';" value="Sign In" class="button" />
    <!-- {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %} -->
    </div>
{% endblock %}