{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate id="form" style="margin-top: 150px">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Sign in</legend>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.remember_me() }} {{ form.remember_me.label }}<br>
            {{ form.submit() }}<br>
            No account?<a href="signup.html"> Sign Up</a>
        </fieldset>
       
    </form>
{% endblock %}
