{% extends "base.html" %}

{% block content %}
    <div class="maindiv">
        <div style="background-color: #cccedf; color: #000638; padding: 12px; margin-top: 10px; margin-bottom: 10px">
        <h1>{{question.main}}</h1>
        <h4>Asked By {{question.askedBy}}</h4>
        <p>{{question.detailed}}</p>
        <h2>{{question.answerscount}} Answers</h2>
        </div>
            <table>
                <TBODY>
                <tr>
                <th>
                    Date
                </th>
                <th>
                    Answered By
                </th>
                <th>
                    Answer
                </th>
                </tr>
                {% for answer in answers %}
                <tr>
                <td>
                    {{answer.date}}
                </td>
                <td>
                    {{answer.answeredBy}}
                </td>
                <td>
                    {{answer.mainAnswer}}
                </td>
            </tr>
            {% endfor %}
            </TBODY>    
        </table>
        <form id="form"> 
        <fieldset>
            <legend>Your Answer</legend>
                Add Picture: <input type="file" name="picture" accept="image/*"><br><br>
                <textarea rows="6"></textarea>
                <input type="submit" value="Post Your Answer">
        </fieldset>
        
    </form>
    </div>
{% endblock %}