{% extends "base.html" %}

{% block content %}
	<div class="maindiv">
     <h1>Recently Asked Questions</h1>  
      <h4>Sort By:
            <select>
                <option value="Date">Date</option>
                <option value="Language A-Z">Languages A-Z</option>
            </select>

        <input type="text" name="Search" placeholder="Search" style="text-align: center; width: 20%; padding: 2px;">
            <button type="submit">Submit</button>

            <a href="{{ url_for('ask') }}" style="float: right;">Ask A Question</a>
        </h4>

        
        <table>
            <tbody>
                <tr>
                <th>
                    Date
                </th>
                <th>
                    Asked By
                </th>
                <th>
                    Question
                </th>
                <th>
                    Answers
                </th>
                </tr>
                {% for post in posts %}
                <tr> 
                <td>
                    {{ post.date }}
                </td>
                <td>
                    {{ post.author}}
                </td>
                <td>
                    <a href="{{ url_for('questionsview') }}">{{ post.body}}</a>
                </td>
                <td>
                    {{ post.answer }}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Rows 
            <select>
                <option value="5">5</option>
                <option value="10">10</option>
            </select> 
            Page 
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </h3>  

        
    </div>
    <!-- {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %} -->
    </div>
{% endblock %}