<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
	<form id="form" name="myForm">
		<fieldset>
			<legend>Log in</legend>
				Username:<br><input type="text" id="Username" name="Username" placeholder="username"><br></B>
				Enter Password:<br><input type="password" id="Password" placeholder="password"><br><br>

				<input type="submit" value="Login" id="login"> No account?<a href="signup.html"> Sign Up</a>
		</fieldset>
	</form>
	<script src="{{ url_for('static', filename = 'js/login.js') }}"></script>
</body>
</html>