<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
	<form id="form" method="POST" action="https://stackoverflowlitev3.herokuapp.com/api/v2/auth/registration">
		<fieldset>
			<legend>Sign Up</legend>
				Username:<br><input class="form-control" type="text" required name="username" id="username"><br></B>
				Email Address:<br><input class="form-control" type="text" required name="email" id="email"><br>
				Enter Password:<br><input class="form-control" type="text" required name="password" id="password"><br>
				Enter Password Again:<br><input class="form-control" type="text" required name="confirmpass" id="confirmpass"><br><br>

				<input type="submit" value="SEND POST"> Already have an account?<a href="signin.html">Log in</a>
		</fieldset>	
	</form>
</body>
</html>