{% extends "base.html" %}

{% block content %}
	<div class="maindiv">
        <div class="user">
          <img src="/static/img/sue.JPG" alt="Profile Picture" style="width:50%">
          {% for userdetail in userdetails %}
          <h1>{{ userdetail.name }}</h1>
          <p class="title">{{userdetail.description}}</p>
          <table>
            <tr>
                <td style="text-align: center;">{{userdetail.questionscount}}</td>
                <td style="text-align: center;">{{userdetail.answerscount}}</td>
                <td style="text-align: center;">{{userdetail.favouritescount}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td style="text-align: center;">questions</td>
                <td style="text-align: center;">answers</td>
                <td style="text-align: center;">favourites</td>
            </tr>
          </table>
        </div>


        <h1>Questions</h1>

        <h4 style="float: right">Sort By
            <select onchange="location=this.value">
                <option value="{{ url_for('profile') }}">Date</option>
                <option value="{{ url_for('sortedquestions') }}">Most Answers</option>
            </select>
        </h4>

        
        <table>
            <tbody>
                <tr>
                <th>
                    Date
                </th>
                <th>
                    Asked By
                </th>
                <th>
                    Question
                </th>
                <th>
                    Answers
                </th>
                </tr>
                {% for userquestion in userquestions %}
                <tr> 
                <td>
                    {{ userquestion.date }}
                </td>
                <td>
                    {{ userquestion.author}}
                </td>
                <td>
                    {{ userquestion.body}}
                </td>
                <td>
                    {{ userquestion.answer }}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Answers</h2>
        <table>
            <tbody>
                <tr>
                <th>
                    Date
                </th>
                <th>
                    Asked By
                </th>
                <th>
                    Question
                </th>
                <th>
                    Answers
                </th>
                </tr>
                {% for useranswer in useranswers %}
                <tr> 
                <td>
                    {{ useranswer.date }}
                </td>
                <td>
                    {{ useranswer.author}}
                </td>
                <td>
                    {{ useranswer.body}}
                </td>
                <td>
                    {{ useranswer.answer }}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Favourites</h2>
        <table>
            <tbody>
                <tr>
                <th>
                    Date
                </th>
                <th>
                    Asked By
                </th>
                <th>
                    Question
                </th>
                <th>
                    Answers
                </th>
                </tr>
                {% for userfavourite in userfavourites %}
                <tr> 
                <td>
                    {{ userfavourite.date }}
                </td>
                <td>
                    {{ userfavourite.author}}
                </td>
                <td>
                    {{ userfavourite.body}}
                </td>
                <td>
                    {{ userfavourite.answer }}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    </div>
{% endblock %}